.topic {
  font-weight: bolder;
  font-size: xx-large;
  padding-top: 5%;
  text-align: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.subTopic {
  text-align: center;
  color: #666666;
  font-size: x-large;
}
.detailBox {
  padding-top: 50px;
}
.coverImg {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#bookDes {
  margin: 10px 0 10px 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
#bookDes1 {
  width: 30%;
  padding: 10px 0 5px 10px;
  color: white;
  background-color: #666666;
}
#bookDes2 {
  width: 70%;
  padding: 10px 0 5px 10px;
  background-color: white;
  border-color: #666666;
  border-style: solid;
}
#icon {
  font-size: 40px;
  padding: 0px 0px 0px 5px;
  color: #fe1818;
}
#icon:hover {
  color: #af0000;
}
#nBook {
  padding-top: 10px;
}
#bookDesr {
  margin: -3px 0 0 0;
}
#bookDes3 {
  border-color: #707070;
  border-style: solid;
  width: 30%;
  padding: 10px 0 5px 10px;
  border-right: none;
}
#bookDes4 {
  width: 70%;
  padding: 10px 0 5px 10px;
  border-color: #707070;
  border-style: solid;
  border-left: none;
}
.detail {
  margin-top: 50px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.detailTop {
  font-weight: bolder;
  font-size: xx-large;
}
.detailDown {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
