.container {
    display: flex;
    padding: 20px 55px;
}
.item {
    flex: 0 0 20%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}
.container:hover .item {
    transform: translateX(-25%);
}
.item:hover ~ .item {
    transform: translateX(25%);
}
.item:hover {
    transform: scale(1.5) !important;
}
.set {
    margin: 200px 100px 100px 0;
}
.content {
    margin-top: 40px;
    height: 300px;
    position: relative;
  }
  
